<!DOCTYPE html>
<html lang="tr">
@* Dil Türkçe olarak ayarlandı *@

<head>
    <meta charset="utf-fs8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Admin Paneli">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Admin Paneli</title>

    <link href="~/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" /> @* Kendi site.css'iniz de eklenebilir *@

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                @* Projenizin ana sayfasına link *@
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-graduation-cap"></i> @* İkonu değiştirebilirsiniz *@
                </div>
                <div class="sidebar-brand-text mx-3">Ödev Sistemi</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item" id="navAdminDashboard">
                <a class="nav-link" asp-controller="Courses" asp-action="Index">
                    @* Veya özel bir Admin/Teacher Dashboard *@
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ana Panel</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Yönetim
            </div>

            <li class="nav-item" id="navCoursesManagement">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCourses"
                   aria-expanded="true" aria-controls="collapseCourses">
                    <i class="fas fa-fw fa-school"></i>
                    <span>Kurs Yönetimi</span>
                </a>
                <div id="collapseCourses" class="collapse" aria-labelledby="headingCourses" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Kurs İşlemleri:</h6>
                        <a class="collapse-item" asp-controller="Courses" asp-action="Index">Tüm Kurslar</a>
                        <a class="collapse-item" asp-controller="Courses" asp-action="Create">Yeni Kurs Ekle</a>
                    </div>
                </div>
            </li>

            <li class="nav-item" id="navUserManagement" style="display:none;">
                @* Başlangıçta gizli, JS ile gösterilecek *@
                <a class="nav-link" asp-controller="User" asp-action="Index">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Kullanıcı Yönetimi</span>
                </a>
            </li>

            @* Diğer Admin/Öğretmen özel menü elemanları buraya eklenebilir *@


            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="layoutUserName">Kullanıcı</span> @* JS ile doldurulacak *@
                                <img class="img-profile rounded-circle"
                                     src="~/sbadmin/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                @* <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profil
                                </a>
                                <div class="dropdown-divider"></div> *@
                                <a class="dropdown-item" href="#" id="layoutBtnLogout">
                                    @* data-bs-toggle="modal" data-bs-target="#logoutModal" eski versiyondan kalmış olabilir, JS ile yöneteceğiz *@
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Oturumu Kapat
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Proje Adınız @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    @* Logout Modal (SB Admin 2'den gelen) - İsteğe bağlı, JS ile direkt logout da yapılabilir *@
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Oturumu Kapatmak İstiyor Musunuz?</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Mevcut oturumunuz sonlandırılacaktır.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" id="confirmLogoutButton" href="#">Çıkış Yap</a> @* href'i JS ile ayarlanacak veya direkt logout işlemi *@
                </div>
            </div>
        </div>
    </div>

    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>

    @* === Global JavaScript (Token okuma, rol bazlı UI ayarları) === *@
    <script>
        // Bu fonksiyonlar global olarak erişilebilir olmalı
        function GetCurrentUserRolesFromToken_Layout() {
            var token = localStorage.getItem("token");
            if (!token) return [];
            try {
                var payload = JSON.parse(atob(token.split('.')[1]));
                var rolesClaim = payload.role || payload.roles || payload['http://schemas.microsoft.com/ws/2008/06/identity/claims/role'];
                if (rolesClaim) { return Array.isArray(rolesClaim) ? rolesClaim : [rolesClaim.toString()]; }
                return [];
            } catch (e) { console.error("_AdminLayout - Token parse error for roles:", e); return []; }
        }

        function GetCurrentUserNameFromToken_Layout() {
            var token = localStorage.getItem("token");
            if (!token) return null;
            try {
                var payload = JSON.parse(atob(token.split('.')[1]));
                return payload.unique_name || payload.name || payload['http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name'];
            } catch (e) { console.error("_AdminLayout - Token parse error for username:", e); return null; }
        }

        $(document).ready(function () {
            var token = localStorage.getItem("token");
            var userRoles = GetCurrentUserRolesFromToken_Layout();
            var userName = GetCurrentUserNameFromToken_Layout();

            if (token) {
                // Kullanıcı adı göster
                if (userName) {
                    $("#layoutUserName").text(userName);
                }

                // Admin'e özel menüleri göster
                if (userRoles.includes("Admin")) {
                    $("#navUserManagement").show();
                    // Diğer admin'e özel component'ler varsa burada gösterilebilir
                } else {
                   //  $("#navUserManagement").hide(); // Admin değilse gizle
                }

                /
                
                $("#layoutBtnLogout").on("click", function(e){
                    e.preventDefault();
                    // Seçenek 1: Modal ile onay
                    var logoutConfirmationModal = new bootstrap.Modal(document.getElementById('logoutModal'));
                    logoutConfirmationModal.show();
                   
                });

                $("#confirmLogoutButton").on("click", function(e) {
                    e.preventDefault();
                    localStorage.removeItem("token");
                    console.log("Token silindi, çıkış yapılıyor.");
                    window.location.href = "/Account/Login";
                });

            } else {
                
                console.warn("_AdminLayout: Token bulunamadı, Login sayfasına yönlendiriliyor.");
                window.location.href = "/Account/Login";
            }

           
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>